.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f5db13;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

.links {
  width: 400px;
  margin: 0 16px;

  display: flex;
  justify-content: space-between;

  a {
    font-size: 14px;
    line-height: 29px;
    color: #000000;
  }

  a:link {
    text-decoration: none;
  }
}
