<section class="pokecard-content">
  <section class="pokercard-bg"></section>
  <section class="pokercard-description">
    <h2>Pachirisu</h2>

    <section class="pokemon-power">
      <section class="power">
        <span class="power-ellipses">419</span>
        <h3>Attack</h3>
      </section>

      <section class="power">
        <span class="power-ellipses">49</span>
        <h3>Defence</h3>
      </section>
    </section>
  </section>
</section>

<!--
<section class="pokecard-info">
  <h1 class="pokemon-name">Pachirisu</h1>

  <section class="pokemon-power">
    <section class="power">
      <span>419</span>
      <h3>Attack</h3>
    </section>

    <section class="power">
      <span>49</span>
      <h3>Defence</h3>
    </section>
  </section>

  <section class="pokemon-status">
    <span>Glass</span>
    <span>Poison</span>
  </section>
</section>
<section class="pokecard-image">
  <img src='assets/images/pachirisu.png' alt="pokemon image">
</section> -->
